*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.title {
  font-size: 5rem;
  margin-top: 10rem;
  text-align: center;
}
