*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  width: 100vw;
  height: 100vh;
}

.title {
  font-size: 5rem;
  margin-top: 10rem;
  text-align: center;
}

.btn-group {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.btn-group button {
  padding: 1rem;
  color: #fff;
  background: rgb(102, 44, 56);
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out opacity;
  text-transform: uppercase;
  width: 50%;
}
.btn-group button:disabled {
  opacity: 0.1;
}

.btn-group button:hover {
  opacity: 0.5;
}
.btn-back {
  display: block;
  padding: 1rem 5rem;
  margin: 1rem auto;
  background: #3f2229;
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .title {
    font-size: 2rem;
    margin-top: 7rem;
    text-align: center;
  }

  .btn-group {
    width: 300px;
  }
}
